@model  IEnumerable<Menu>


@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Menu" asp-action="Create" class="btn btn-primary"> 
                Add Menu
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Speciality
            </th>
            <th>
                Food Items
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var obj in Model)
        {
            
            <tr>
                <td width="50%">
                    @obj.Speciality
                </td>
                <td width="50%">
                    @obj.FoodItems
                </td>

            

                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Menu" asp-action="Edit" asp-route-id="@obj.MenuId" class="btn btn-primary mx-2">Edit</a>
                        <a asp-controller="Menu" asp-action="Delete" asp-route-id="@obj.MenuId" class="btn btn-primary mx-2">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>