@model Reservation
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="DeletePOST">
    <input asp-for="ReservationId" hidden />
    <div class="vorder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete</h2>
            <hr/>
        </div>
         <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="NOofPersons"></label>
            <input asp-for="NOofPersons" class="form-control" />
            <span asp-validation-for="NOofPersons" class="text-danger" ></span>
        </div>

        
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>

